.list-item  {
	cursor: pointer;
}
.list-item.red  {
	color: var(--giggz-color-red);
}
.list-item.blue {
	color: var(--giggz-color-blue);
}

.body-styles {
	text-align: center;
}

.profile-image {
	border-radius: 20%;
	border: 3px solid black;
	width: 25%;
	margin: auto;
	margin-bottom: 10px;
}