
.list-item  {
	cursor: pointer;
}

.list-item:last-of-type  {
	color: #dd0000;
}

.body-styles {
	text-align: center;
}

.profile-image {
	border-radius: 50%;
	border: 3px solid black;
	width: 25%;
	margin: auto;
	margin-bottom: 10px;
}