:root {
	--giggz-color-transparent: #00000000;
	--giggz-color-white: rgb(238, 238, 238);
	--giggz-color-red: #dd0000;
	--giggz-color-blue: rgb(14, 14, 180);
	--giggz-color-offwhite: #f8f8ff;
}


body {
	background-color: var(--giggz-color-offwhite);
	font-family: 'Poppins', sans-serif;
}

.bgColRed {
	background-color: var(--giggz-color-red)!important;
}

.redLink {
	cursor: pointer;
	color: var(--giggz-color-red);
}